* {
    box-sizing: border-box;
}

body {
    font-family: 'Comic Sans MS';
}

h1 {
    text-align: center;
    font-size: 175%;
}

div {
    position: relative;
}
.body {
   border: solid black 2px;
    background-color: lightgrey;
    margin-left: 20px;
    margin-right: 20px;
    height: 230px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 35px;
    
}

.title {
   
    font-weight: bolder;
    font-size: 125%;
    position: absolute;
    top: 0;
    right: 0;
    border: solid black 2px;
    height: 40px;
    width: 30%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 16px;
    text-align: center;
}

#t1 {
    background-color: pink;
    color: black;
}

#t2 {
    background-color: red;
    color:  white;
}

#t3 {
    background-color:wheat;
    color:  black;
}

.row {
    width: 100%;
}

@media (min-width:992px) {
   
    .col-lg-4 {
       float: left;
       width: 33.33%;                  
    }
}

@media (min-width: 768px) and (max-width: 991px){
   
    .col-md-6 {
        
        float: left;
        width: 50%;
    }
    .col-md-12 {
        
        float: left;
        width: 100%;
        
    }
}

@media(max-width: 767px) {
  
    .col-sm-12 {
       
        float: left;
        width: 100%;
       
    }
}

